footer {
  position: absolute;
  bottom: 0;
  width: 960px;
  height: 140px;
  background-color: #444;
}

footer div {
  width: 33.33%;
  height: 100px;
  margin-top: 20px;
  color: #eee;
}

#footer-center {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
