.cup-post {
  margin: 10px auto 30px;
  border: 1px solid #888;
  width: 92%;
  background-color: #fff;
}

#content-left .cup-post, #content-right .cup-post {
  overflow: hidden;
}

#content-left .cup-post {
  margin-left: 8px;
}

#content-right .cup-post {
  margin-right: 8px;
}

.cup-post img {
  width: 100%;
  padding-bottom: 5px;
  height: 300px;
  object-fit: cover;
  margin-top: -21px;
}

.cup-post ul {
  margin: 15px 0;
  padding: 0 20px;
  list-style: none;
  text-align: left;
}

.cup-post li {
  margin: 15px 0;
  padding: 0 0 10px;
  border-bottom: 1px solid #ccc;
  font-size: .8em;
}

.cup-post li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.post-form {
  margin-top: 10px;
  padding: 15px 20px;
  border-top: 1px solid #888;
}

.post-form input {
  width: 390px;
  height: 2em;
  border: 0px;
}

.post-form input[type=text]:focus {
  outline: none;
}

.post-info-container {
  display: flex;
  width: 400px;
  margin: auto;
  font-size: .7em;
  color: #222;
}

.post-date, .post-time {
  width: 200px;
  margin-top: 0px;
}

.post-date {
  text-align: left;
}

.post-time {
  text-align: right;
}

.form {
  background-color: #fff;
}
